{
  "name": "biguelini-dev",
  "displayName": "Biguelini Dev",
  "version": "1.0.0",
  "packageManager": "npm",
  "type": "module",
  "scripts": {
    "dev": "next dev",
    "build": "next build",
    "start": "next start",
    "lint": "next lint"
  },
  "engines": {
    "node": ">=18.0.0"
  }
}
