@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfbf7;
  --foreground: #000000;
  --brutal-shadow: #000000;
  --brutal-border: #000000;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --brutal-shadow: #ffffff;
  --brutal-border: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.brutal-border {
  border: 4px solid var(--brutal-border);
}

.brutal-border-b {
  border-bottom: 4px solid var(--brutal-border);
}

.brutal-shadow {
  box-shadow: 4px 4px 0px 0px var(--brutal-shadow);
  transition: transform 0.1s, box-shadow 0.1s;
}

.brutal-shadow:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0px 0px var(--brutal-shadow);
}

.brutal-shadow:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px 0px var(--brutal-shadow);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  border-left: 4px solid var(--brutal-border);
}

::-webkit-scrollbar-thumb {
  background: #FFd800;
  border-left: 4px solid var(--brutal-border);
  border-bottom: 4px solid var(--brutal-border);
}

::-webkit-scrollbar-thumb:hover {
  background: #FF2A54;
}
